<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/login_styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0442526d0c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="login">
    <header class="registro">
      <a href="/"><img id="logo" src="\img\logo-mercado-liebre.svg"/></a>
    </header>
    <main id="reg">
      <form class="login" action="/login" method="POST">
        <div class="usuario">
            
            <input type="text" placeholder="Nombre de usuario" name="usuario" />             
            
  
            <input
              type="password"
              placeholder="Ingresá tu contraseña"
              name="password"
            />
          </div>
          <button id="ingresar" type="submit">Ingresar</button>
      </form>
    </main>
    <footer id="login">
      <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
