<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/login_styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0442526d0c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="login">
    <header class="registro">
      <a href="/"><img id="logo" src="\img\logo-mercado-liebre.svg"/></a>
    </header>
    <main id="reg">
      <form class="login" action="/login" method="POST">
        <div class="usuario">
            
            <input type="text" placeholder="Nombre de usuario" name="usuario" />             
            
  
            <input
              type="password"
              placeholder="Ingresá tu contraseña"
              name="password"
            />
          </div>
          <button id="ingresar" type="submit">Ingresar</button>
      </form>
    </main>
    <footer>
      <div id="blue">
        <i id="icon" class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div id="blue">
        <i id="icon" class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div id="blue">
        <i id="icon" class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>

      <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
